app = "fly-n8n"

[build]
  dockerfile = "Dockerfile"

[env]
  N8N_BASIC_AUTH_ACTIVE = "true"
  N8N_BASIC_AUTH_USER = "saegh123"
  N8N_BASIC_AUTH_PASSWORD = "Sepehr@2025!"
  WEBHOOK_URL = "https://fly-n8n.fly.dev/"
  N8N_HOST = "fly-n8n.fly.dev"
  N8N_PROTOCOL = "https"
  DB_SQLITE_VACUUM_ON_STARTUP = "true"

[[services]]
  internal_port = 5678
  processes = ["app"]
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80
  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "30s"
